* {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.imgf {
    width: 90px;
    height: 90px;
}

.h1 {
    background-image: linear-gradient(14deg, blue, green);
}
.container2
{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}
.img2
{
    width: 90px;
    height: 90px;
}
.hh1
{
    color: black;
    margin-left: 10px;
}