.location {
    display: flex;
    justify-content: left;
    margin-top: 40px;
}


.pict {
    text-decoration: none;
}

.home {
    text-decoration: none;
}

.phone {
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.img {
    width: 90px;
    height: 90px;
}

.img1 {
    width: 90px;
    height: 90px;
}
.pp4{
    margin-top: 35px;

}
.p {
    margin-right: 40px;
    margin-top: 35px;

}
.pp{
    margin-top: 35px;

}

.p1 {
    margin-right: 40px;
    margin-top: 35px;

}

.h2 {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

.school {
    margin-bottom: 200px;
}

.skills {
    margin-bottom: 200px;
}

.h21 {
    display: flex;
    justify-content: center;
}

.img4
{
    width: 90px;
    height: 90px;
}
.gmail
{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}
.pp4
{
    margin-left: 40px;
    margin-top: 35px;

}
.p4{
    margin-top: 35px;
}