.hh{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-right: 150px;
}
.container
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.title
{
    display: flex;
    justify-content: center;
}
.span
{
    color: blue;
}
.pdiv
{
    display: flex;
    justify-content: center;
}
.btns
{
    display: flex;
    justify-content: center;
}
.btn1
{
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
    margin-right: 20px;
    background-color: blue;
    color: white;
    border: none;
}
.btn2
{
    border-radius: 8px;
    padding: 10px 25px 10px 25px;
    border: 1px solid blue;
    background-color: white;
    color: blue;
}